<%- include('../../partials/header.ejs') %>
<div class="wrapper">
  <%- include('../../partials/navbar.ejs') %>
  <%- include('../../partials/sidebar.ejs') %>
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1></h1>
          </div>
        </div>
      </div>
    </section>

    <section class="content">
      <%- include('../item/table_item') %>
    </section>
  </div>
  <%- include('../../partials/footer') %>
